@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
}

.waving-line {
  width: 200px;
  height: 2px;
  background-color: green;
  position: relative;
  animation: wave 2s infinite linear;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.title {
  display: flex;
  justify-content: center;
}
